.navbar {
  display: flex;
  align-items: center;

  background: #282c34;
  color: #282c34;

  .navbar__title {
    margin-right: auto;
    font-size: 300%;
    font-weight: bold;
    padding: 12px 16px;
  }

  .navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
  }
}
